body {
    margin: 0;
    background: #0a0a0a;
    font-family: Arial, sans-serif;
    color: white;
}

/* HEADER */
header {
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

/* SECTION FEATURES */
.features {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel {
    width: 100%;
    overflow: hidden;
    height: 350px;
    display: flex;
    position: relative;
}

.carousel img {
    min-width: 100%;
    height: 350px;
    object-fit: cover;
    display: none;
}

.carousel img.active {
    display: block;
}

/* SETAS */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
    z-index: 10;
    user-select: none;
    padding: 10px;
}

/* Esquerda dentro da div */
#prev {
    left: -50px;
}

/* Direita dentro da div */
#next {
    right: -50px;
}

/* PRODUTOS */
.produtos {
    margin-top: 60px;
    text-align: center;
}

.produtos-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.produto-card {
    min-width: 200px;
    height: 200px;
    background: #151515;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
